@media (min-width: 300px) and (max-width: 1000px) {
body {
  margin: 0;
  padding: 0;
  /* stylized button font */
  font-family:'Days One', sans-serif;
  background: url("images/backgroundDefault.jpg");
  background-attachment: fixed;
}

 /* ///////////////////////// main container//////////////////// */
.mainContainer {
  /* grid options and naming */
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: 100%;
  grid-template-rows: 100% 100%;
  grid-template-areas:
  "tv"
  "remote";
}

/* ///////////////////////// tv container//////////////////// */
.tv {
  grid-area: tv;
  position: relative;
  width: 100%;
}
/* hidden input for space press change channel */
.spaceInput {
  display: none;
}

.tv__image {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.tv__tutorialImage {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.tv__noise {
  display: none;
  position: absolute;
  z-index: -1;
  width: 100%;
}

.tv__tvChannelBackground {
  position: absolute;
  width: 95%;
  margin: 0px auto;
  height: auto;
  padding-top: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 67%;
  z-index: 99;
  text-align: center;
  background: rgba(73, 27, 13, 0.8);
  border-radius: 10px;
}

.tv__eiNisLogo {
  display: none;
}

.tv__tvChannelBackground__youTubeLink {
  display: none;
}

.tv__tvChannelBackground__facebookLink {
    display: none;
}

.tv__tvChannelBackground__gitHubLink {
  position: relative;
  z-index: 10;
  color: #fff;
  font-family: Days One;
  font-size: 0.8em;
  border-radius: 7px;
  width: 90%;
  margin: 0px auto;
  text-decoration: none;
  border: 1px solid white;
}

.tv__tvChannelBackground__gitHubLink:hover {
  color: #fff;
}

.tv__tvChannelBackground__title {
  margin-top: -20%;
  font: Days One;
  color: #fff;
  font-size: 0.6em;
  font-weight: 400;
  z-index: 1;
  margin-bottom: 0px;

  -webkit-animation: none;
     -moz-animation: none;
      -ms-animation: none;
       -o-animation: none;
          animation: none;
}

.tv__tvChannelBackground__subTitle {
  position: relative;
  display: block;
  height: 15px;
  text-align: center;
  font: Days One;
  color: #fff;
  font-size: 0.6em;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  word-break: break-word;
}

.tv__tvChannelBackground__image {
    display: none;
}

/* ///////////////////////// youtube player //////////////////// */
.youtubePlayerContainer {
  position: absolute;
  width: 80%;
  padding-top: 65%;
  top: 0;
}

.youtubePlayer {
  display: block;
  width: 90%;
  height: 93%;
  width: 90%;
  top: 5% !important;
  left: 4%;
  bottom: 0;
  right: 0;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

/* ///////////////////////// remote container //////////////////// */
.remote {
  grid-area: remote;
  position: absolute;
  margin: 0px auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 90%;
}
/* images */
.remote__image {

}

.remote__changeChannelButtonImage__container {
  position: absolute;
  margin-left: 25px;
  margin-top: 15px;
  text-align: center;
}

.remote__changeChannelButtonImage__container__text {
}

.promeniKanalBr {
  margin-top: 2px;
}

.remote__changeChannelButtonImage__container__text:hover {
  cursor: pointer;
}

.remote__changeChannelButtonImage__container__image {
  z-index: 1;
}

.remote__changeChannelButtonImage__container__image:hover {

}

/* buttons */
.remote__buttonsContainer {
  position: absolute;
  margin-top: 160px;
  width: 195px;
  text-align: center;
}

.remote__buttonsContainer__button {
  width: 80%;
  border: none;
  background-color: #423b33;
  color: white;
  font-family: Days One;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  margin-top: 5px;
}

.remote__buttonsContainer__button__colorToggle {
  opacity: 0.5;
  width: 80%;
  border: none;

  /* color: #423b33; */
  font-family: Days One;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  margin-top: 5px;
}

.remote__buttonsContainer__volumeText {
  display: none;
}

.remote__buttonsContainer__volume {
  display: none;
}

.buttonEffectContainerButton {
  font-size: 0.7em!important;
  margin-top: 10px;
}

.buttonBackgroundContainerButton {
  font-size: 0.7em!important;
  margin-top: 5px;
}

br {
   display: block;
   margin: -5px 0;
}
}
